Source: huayra-help
Section: doc
Priority: optional
Maintainer: Huayra Devel <huayra-devel@listas.huayragnulinux.com.ar>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://github.com/huayralinux/huayra-help
Vcs-Git: http://github.com/huayralinux/pkg-huayra-help.git

Package: huayra-help
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, wmctrl (>= 1.07),
         x11-utils (>= 7.7), python (<= 2.8)
Description: Paquete que nos ayuda a encontrar ayuda
 Este paquete contiene una serie de aplicaciones que nos
 ayudaran a encontrar la pagina correcta en la ayuda de
 Huayra (huayra-visor-manual)
